#welcome {
    text-align: center;
    background:linear-gradient(#E1BEE7 0%,#90CAF9 100%);
    background-repeat: no-repeat;
}

#image {
    height: 300px;
    width: 300px;
    border-radius: 20%;
}

h1 {
    font-size: 35px;
    text-shadow: 2px 2px grey;
    font-family: cursive;
}

#bio {
    text-align: center;
}

p {
    font-size: 20px;
}

.line {
    height: 6px;
    background-color:black;
    width: 70px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    float:right;
    font-size: 17px;
    top: 10px;
    right: 30px;
    curser: pointer;
    color: black;
}

